.path {
    stroke-dasharray: calc(74.419/2), 10;
    stroke-dashoffset: calc(74.419/2 + 6);
    animation: dashLogo 60s linear;
    animation-fill-mode: backwards;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.path2 {
    stroke-dasharray: 110, 10;
    stroke-dashoffset: 0;
    animation: dashLogo2 60s linear;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

@keyframes dashLogo {
    0% {
        stroke-dashoffset: 46;
        /*calc((74.419 + 10));*/
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dashLogo2 {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -120;
        /*calc(120 + 10);*/
    }
}

@keyframes dashLogoSolo {
    0% {
        stroke-dashoffset: 46;
        /*calc((74.419 + 10));*/
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dashLogo2Solo {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -120;
        /*calc(120 + 10);*/
    }
}
