@media only screen and (max-width: 820px) {
    .cardContainer {
        overflow: auto;
        white-space: inherit;
    }
}

.card {
    padding: 10%;
}

.card img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.card img:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    cursor: pointer;
}
