.socials {
  position: relative;
  display: block;
  width: 30px;
  background-color: white;
  float: right;
  margin-top: -175px;
  margin-right: -11px;
}

.socials img {
  border-radius: 10px;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 3px 0;
  display: block;
}
