@media only screen and (max-width: 820px) {
  .title-style {
    font-size: 5vw;
    position: absolute;
    padding-left: 2.5%;
    width: max-content;
    font-weight: bold;
  }

  .title-style::before,
  .title-style::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  .title-style::before {
    background: white;
    animation: typing 700ms steps(25) 2s forwards;
  }

  .title-style::after {
    width: 0.2rem;
    background: black;
    animation: typing 700ms steps(25) 2s forwards, blink 1000ms 1;
  }

  @keyframes typing {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }

  .content-body {
    position: absolute;
    margin-top: 100px;
    max-width: 1200px;
    text-align: justify;
    padding: 2.5%;
    box-sizing: border-box;
  }
}

.title-style {
  font-size: 5vw;
  position: absolute;
  padding-left: 2.5%;
  width: max-content;
  font-weight: bold;
}

.title-style::before,
.title-style::after {
  content: "";
  position: absolute;
  inset: 0;
}

.title-style::before {
  background: white;
  animation: typing 700ms steps(25) 2s forwards;
}

.title-style::after {
  width: 0.2rem;
  background: black;
  animation: typing 700ms steps(25) 2s forwards, blink 1000ms 1;
}

@keyframes typing {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.content-body {
  position: absolute;
  margin-top: 100px;
  max-width: 1200px;
  text-align: justify;
  padding: 2.5%;
  box-sizing: border-box;
}
